<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/style.css" />
  	</head>

  	<body>
		<header>
		<div class="topnav">
			<a class="title"><%= title%></a>
			<a href="#men">Men</a>
			<a href="#women">Women</a>
			<a href="#signin" class="signin">Sign In</a>
			<a href="#signup" class="signup">Sign Up</a>
		</div>
		</header>
    	<h1><%= title %></h1>
    	<p>Welcome to <%= title %></p>
  	</body>
</html>
