<div class="topnav">
    <a class="title" href="/"><%= title%></a>
    <a href="/categories/men">Men</a>
    <a href="/categories/women">Women</a>
    <%if(currentUser){%>
        <a href="/cart" class="Cart">Cart</a>
        <a href="/profile" class="signin">Profile</a>
        <a href="/logout" class="signup">Log Out</a>

    <%}else{%>
        <a href="/auth/signin" class="signin">Sign In</a>
        <a href="/auth/signup" class="signup">Sign Up</a>
    <%}%>
</div>
