* {
    box-sizing: border-box;
}

.detail-container {
    margin: auto;
    height: 500px;
    max-width: 85%;
    background: white;
    border: 1px solid #cfcfe1;
    padding: 25px 25px;
    display: flex;

}

.img-container{
    vertical-align: bottom;
    width:350px;
    height:350px;
    display: inline-block;

}


.text-container{
    /* vertical-align: top; */
    margin-left: 30px;
    width: 100%;
    height: 350px;
    /*display: inline-block;*/
    border: 1px solid #cfcfe1;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    /* align-items: center; */
}

.h-title{
    padding-right: 1rem;
    color:darkred;
    font: 30px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-left: 1rem;

}


.text-container .description{
     align-self: center;
    width: 100%;
    /* border: 1px solid #cfcfe1; */
    padding: 20px;
    font-size: 18px;
    vertical-align: middle;
    margin-bottom: 13.2%;

}

.text-container .header{
    /* align-self: center; */
    width: 100%;
    margin-top: 0px;
    border: 1px solid #cfcfe1;
    padding: 20px;
    font-size: 70px;
    /* flex:1; */

}

.text-container .footer{
    width: 100%;
     /*position: absolute;*/
    /* bottom: 0px; */
    padding: 20px;
    align-content: flex-end;
    display: inline-block;


}

.footer .button{
    align-content: start;
    font-size: 1rem;
    border: 3px solid #d234a0;
    border-radius: 0.3rem;
    background-color: white;
    text-align: center;
}

.footer .button:hover{
    background-color: #d27120;
    color: white;
}
.footer .price{
    display: inline-block;
    float:right;
    margin-right: 0.5rem;

}

.footer .selector{
    display: inline-block;
    float:right;


}

.border{
    border: solid 1px black;
}



